html {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

body {
  background-image: url("Horison.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

#welcome {
  background-color: rgba(205, 201, 201, 0.3);
  padding: 5%;
  margin: 20% 0 0 45%;
  max-width: 30%;
  text-align: center;
  border-radius: 10px;
}

#main {
  background-color: rgba(205, 201, 201, 0.3);
  padding: 5%;
  margin: 5%;
  max-width: 90%;
  text-align: center;
  border-radius: 10px;
}

footer {
  background-color: rgba(205, 201, 201, 0.3);
  border-radius: 10px;
  margin-top: 25%;
  text-align: center;
}

#button {
  cursor: pointer;
  color: black;
  background-color: grey;
  border: none;
  padding: 1%;
  border-radius: 10px;
}