<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="10">

  <title>Josh Nash Wisdom #<%= @wisdomNumber %></title>

  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="nash <%= ['wat', 'mono', 'bread', 'yeah', 'pout'][rand(5)] %>">

      <div class="wisdom">#<%= @wisdomNumber %>: <%= @wisdom %></div>
  </div>
</body>
</html>
